<div class="layout-topbar">
    <a class="layout-topbar-logo">
        <img src="assets/app/logo.png" alt="MyGymBro logo">
        <span>My GymBro</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
            (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu">
        <button (click)="op.toggle($event)" class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <p-overlayPanel #op>
            <div style="display: flex; flex-direction: column; align-items: center; row-gap: 1rem;">
                <p>Hello, User!</p>
                <p-button routerLink="/account-data" label="Account Data"></p-button>
                <p-button routerLink="/landing" label="Sign out"></p-button>
            </div>
        </p-overlayPanel>
    </div>
</div>
